 body {
   background-color: rgba(120,150,260)
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:3px;

}


#bo1,#bo2, #bo3, #bo4 {
    margin-top:30px;
    text-align:center;
    width:100px; 
    height:40px;
    font-size: 20px;
}




 #bo5,#bo6,#bo7,#bo8 {
  border: 2px solid black;
  text-align:center;
  width:100px;
  height:100px;
  font-size: 40px;

}
 